<!DOCTYPE html>
<html>
<head>
	<title>Check Website</title>
	<!-- Include Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Include custom CSS -->
	<style>
		.result {
			margin-top: 20px;
			padding: 10px;
			font-size: 24px;
			font-weight: bold;
			text-align: center;
			border-radius: 5px;
		}
		.success {
			background-color: #28a745;
			color: #fff;
		}
		.warning {
			background-color: #ffc107;
			color: #fff;
		}
		.danger {
			background-color: #dc3545;
			color: #fff;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>Check Website</h1>
		{% if message %}
			<div class="result">
				<p class="{% if message %} {% if status is not defined %}danger{% elif status == 200 %}success{% else %}danger{% endif %}{% endif %}">Website status: {% if message %} {% if status is not defined %}Erro na consulta{% elif status == 200 %}Disponivel ({{ status }}){% else %}Indisponivel ({{ status }}){% endif %}{% endif %}</p>
				<p class="{% if message %} {% if latency is not defined %}danger{% elif latency <= 0.5 %}success{% elif latency > 0.5 and latency < 3 %}bg-info{% elif latency >= 3 %}warning{% else %}danger{% endif %}{% endif %}">Latencia: {% if message %} {% if latency is not defined %}Latencia nao disponivel{% elif latency <= 0.5 %}Excelente ({{ latency }}s){% elif latency > 0.5 and latency < 1 %}Bom ({{ latency }}s){% elif latency > 1 and latency < 3 %}Lento ({{ latency }}s){% else %}Muito lento ({{ latency }}s){% endif %}{% endif %}</p>
				<p class="{% if message %} {% if total_time is not defined %}danger{% elif total_time < 2 %}success{% elif total_time > 2 and total_time < 3%}bg-info{% else %}warning{% endif %}{% endif %}">Load time da Home: {% if message %} {% if total_time is not defined %}N/A{% elif total_time < 2 %}Ideal ({{ total_time }}s){% elif total_time > 2 and total_time < 3%}Bom ({{ total_time }}s){% else %}Ruim ({{ total_time }}s) {% endif %}{% endif %}</p>
			</div>
		{% endif %}
		<form method="POST">
			<div class="form-group">
				<label for="url">Enter website URL:</label>
				<input type="text" class="form-control" name="url" id="url">
			</div>
			<button type="submit" class="btn btn-primary">Check</button>
		</form>
	</div>
	<!-- Include Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNS3vx" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
